<% if(locals.user){ %>
<footer>
  <div class="footer-details">
    <p class="footer-copyright-info">
      &copy; Himanshu Kanwar,All Rights Reserved
    </p>
    <div class="redirect-links">
      <a href="/">Home</a>
      <a href="/users/profile">Profile</a>
    </div>
  </div>
</footer>

<% } %>
