footer {
  background-color: #343a40;
  color: #fff;
  padding: 10px 0;
  margin-top: auto; /* Push the footer to the bottom */
}

.footer-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.redirect-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;

  &:hover {
    text-decoration: underline;
  }
}


// footer {
//   background-color: #343a40;
//   color: #fff;
//   padding: 20px 0;

//   .footer-details {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     .footer-copyright-info {
//       margin: 0;
//     }

//     .redirect-links {
//       a {
//         color: #fff;
//         text-decoration: none;
//         margin-left: 20px;

//         &:hover {
//           text-decoration: underline;
//         }
//       }
//     }
//   }
// }


// footer{
//     background-color: grey;
//     height: 60px;
//     padding-top: 15px;
//     .footer-details{
//         display: flex;
//         align-items: baseline;
//         justify-content: space-between;
//         width: 400px;
//         .footer-copyright-info{
//             color: white;
//             font-size: 20px;
//             margin: 0;
//         }
//         .redirect-links{
//             display: flex;
//             flex-direction: column;
//             color: white;
//             font-size: 20px;
//             a{
//                 text-decoration: none;
//                 color: white;
//             }

//         }
//     }
// }
