/* styles.scss */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
  /* Add your desired background color */ }

#sign-in-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; }
  #sign-in-form h1 {
    color: #333;
    margin-bottom: 20px; }
  #sign-in-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s; }
  #sign-in-form input[type="text"]:focus,
  #sign-in-form input[type="password"]:focus {
    border-color: #3498db;
    /* Change border color on focus */ }
  #sign-in-form input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s; }
  #sign-in-form input[type="submit"]:hover {
    background-color: #45a049; }
  #sign-in-form a {
    color: #3498db;
    text-decoration: none;
    display: block;
    margin-top: 15px;
    transition: color 0.3s; }
    #sign-in-form a:hover {
      color: #1f618d;
      /* Change link color on hover */ }
